@import "variaveis.scss";
@import './material-design/css/bootstrap-material-design.css';

body {
	background-color: $gray-100;
	min-height: 100vh;
	position: relative;
}

#root > .container{
    padding-right: 1px !important;
    padding-left: 1px !important;
}

.loading {
	position: fixed;
	z-index: 999;
	height: 2em;
	width: 2em;
	margin: auto;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.loading:before {
	content: "";
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.3);
}

.rehagro-tab {
    padding: 10%;
    margin-top: -8%;
}
.rehagro-tab #tabs{
    background: #007b5e;
    color: #eee;
}
.rehagro-tab #tabs h6.section-title{
    color: #eee;
}

.tab-content {
	padding-top: 2em;
	min-height: 500px;
}

.rehagro-tab #tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #75C59C;
    background-color: transparent;
    border-color: transparent transparent #f3f3f3;
    border-left: 1px solid #D0D0D0 !important;
    border-top: 1px solid #D0D0D0 !important;
    border-right: 1px solid #D0D0D0 !important;
    border-bottom: 1px solid white !important;
    font-size: 12px;
}

.rehagro-tab #tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link {
    color: #D0D0D0;
    background-color: transparent;
    border-color: transparent transparent #f3f3f3;
    border-bottom: 0px solid #D0D0D0 !important;
    font-size: 12px;
}

.rehagro-tab .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    color: #75C59C;
    font-size: 12px;
    font-weight: 600;
}
.rehagro-tab .nav-link:hover {
    border: none;
}
.rehagro-tab thead{
    background: #f3f3f3;
    color: #333;
}
.rehagro-tab a{
    text-decoration: none;
    color: #333;
    font-weight: 600;
}
.dados-gerais-apontamento {

    justify-content: space-around;
}

.container-tabs {

    
    padding: 15px;
    border-bottom: 1px solid #D0D0D0 !important;
    padding-bottom: 0;
    margin-bottom: 0px;
}

.container-sub-tabs {

    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

.flex {

    display: flex;
}

.tap-content-auto-height {

    min-height: auto;
}

.btn-padrao:hover {

    background-color: #75C59C;
    border-radius: 18px;
    color: white;
    font-weight: 300;

  }
  
.btn-padrao {

    background-color: #0A9A84;
    border-radius: 18px;
    color: white;
    font-weight: 300;
}