.input-table {
  border: none;
  background-color: inherit;
  border-bottom: 1px solid #D0D0D0;
  width: 100%; }

.container-tabs {
  padding: 15px;
  border-bottom: 1px solid #D0D0D0 !important;
  padding-bottom: 0;
  margin-bottom: 0px; }

.container-sub-tabs {
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px; }

.flex {
  display: flex; }

.tap-content-auto-height {
  min-height: auto; }

.btn-padrao:hover {
  background-color: #75C59C;
  border-radius: 18px;
  color: white;
  font-weight: 300; }

.btn-padrao {
  background-color: #0A9A84;
  border-radius: 18px;
  color: white;
  font-weight: 300; }
